rsource "external/util-components/Kconfig.projbuild"
rsource "external/components-misc/Kconfig"
rsource "external/mbed-uout/Kconfig"
rsource "external/tronferno-lib/components/fernotron_app/Kconfig"
rsource "external/tronferno-lib/components/fernotron_trx/Kconfig"
rsource "external/tronferno-lib/components/fernotron_uout/Kconfig"
